body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-bottom: 2rem;
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 700px;
}
.filter input {
  margin: 0 15px;
}
.title-wrapper h1 {
  display: inline;
}
.page-title {
  text-transform: capitalize;
}
.divider {
  height: 100%;
  margin-left: 10px;
  margin-right: 30px;
  border-right: 2px solid rgb(0 0 0 / 55%);
}
.page-img {
  width: 250px;
}
.table-wrapper,
.table-responsive {
  height: 500px;
  overflow: auto;
}
.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.form-btns {
  margin-bottom: 5rem;
}
.form-btns.right {
  text-align: right;
}
.confirm {
  background: #f07d89af;
  padding: 10px 15px;
  color: #b1091a;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.product-details {
  margin-bottom: 2rem;
}

.product-details span {
  font-weight: bold;
  min-width: 170px;
}
.tags p {
  min-width: 250px;
  margin-left: 0;
  margin-right: 1rem;
}
.tags span,
.tags p {
  padding: 0.1rem 0;
  display: inline-block;
}
.btn-link:hover {
  text-decoration: underline !important;
}
.btn-link {
  color: #52a7bd !important;
  text-decoration: none;
  font-weight: 700;
}

.error-msg {
  /* display: none; */
  margin-top: 1rem;
  font-size: 0.95rem;
  color: rgb(224, 118, 118);
}

@media screen and (max-width: 768px) {
  .filter {
    flex-direction: column;
  }
  .filter input[type="*"] {
    width: 100%;
  }
}
